
  .navbar a.active {
  color: rgb(147 197 253) !important;
  background-color: #e5e7eb04 !important;
  border-bottom: 2px solid rgb(147 197 253) !important;

}

.home-image{
  border: 10px red solid !important;
}
  
